
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<pre>
@Session["rol"]
</pre>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <input type="text" name="txtCodigo" value="" placeholder="Nombre Usuario" class="form-control" />
                <input type="password" name="txtNit" value="" placeholder="Clave" class="form-control" />
                <input type="submit" name="btnIngresar" value="Ingresar" class="btn bg-danger" />
            }
        </div>
    </div>
</div>

